
<footer>
    <div class="container">
          
        <div class="col-md-12">
          
    <ul class="list-inline text-center footer-links">

      
      <li>
        <a href="mailto:info@mesfinmoges.com?subject=Hello from mesfinmoges.com" title="Email me">
          <span class="fa-stack fa-sm">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      

      
   
      

      
      <li>
        <a href="https://twitter.com/mesfinmoges" title="Twitter" target="blank">
          <span class="fa-stack fa-sm">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      

      
      <li>
        <a href="https://github.com/mesfinmo" title="GitHub" target="blank">  
          <span class="fa-stack fa-sm">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      

      
      <li>
        <a href="https://www.facebook.com/mesfinmoges" title="Facebook" target="blank">
          <span class="fa-stack fa-sm">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      

      
      <li>
        <a href="https://stackoverflow.com/users/7480284/mesfinmo" title="StackOverflow" target="blank">
          <span class="fa-stack fa-sm">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      

      

    

      

    </ul>

    <p class="copyright text-muted ">
      © Mesfin Moges
      &nbsp;•&nbsp;
      2018

      
      &nbsp;•&nbsp;
      <a href="mailto:info@mesfinmoges.com?subject=Hello from mesfinmoges.com">info@mesfinmoges.com</a>
      
    </p>
    
    

   
  </div>
</div>
</footer>

{% if site.syntax-highlighter %}
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?autoload=true&amp;skin=sons-of-obsidian&amp;lang=css" defer=""></script>
{% endif %}