<header>
    <!-- <div class="body-particles"> -->

        
  <div class="small-top">
<div class="container">
 <div class="row social-icon">  <a target="_blank" href="https://www.facebook.com/MesfinMoges/" class=" fa fa-facebook"></a> <a target="_blank" href="https://twitter.com/MesfinMoges" class=" fa fa-twitter"></a> <a target="_blank" href="#" class=" fa fa-linkedin"></a></div>
    </div>
</div>
  <div class="top-head ">
<div class="container">
      <div class="row">
  <div class="logo col-xs-12 col-sm-12 col-md-6 col-lg-3">
  <a href="/">
    <img src="{{site.assetBaseUrl}}/blog/img/{{ site.imgSize200 }}/logo-mesfin.png">
    <!-- <img src="img/logo.png"> -->
  </a>
          <!--<h1>RIDE SHARE & <medium>BEYOND</medium></h1>-->
</div>
 
</div>
</div>
</div>
<!-- </div> -->

<!-- <div id="particles-js"></div> -->
</header>

