---
layout: base
show-avatar: true
---

<section>
<div class="container" role="main">
    <div class="post-wrapper">
        <div class="section-inner sectionLayout--insetColumn">
            <div class="post-content col-md-8 offset-md-2">
            <h1 class="post-title">
              {{ page.title }}
            </h1>
            <div class="author">
              <div class="container row">
                <!-- <span>
                  <img class="avatar-image avatar-image--small" 
                  src="{{page.author-avatar}}">
                </span> -->
                <span class="author-bio">
                  <!-- <div class="author-name">{{page.author-name}}</div>
                  <div class="author-title">{{page.author-title}}</div> -->
                  <div class="post-date">
                    <time class="timeago" datetime="{{ page.date }}"></time>
                  </div>
                  </span>
              </div>
            </div>

            <div class="post-img-container">
            <img class="post-avatar" data-src="{{page.image}}" 
            src="{{page.image}}">
            {% if page.img-credit-url and page.img-credit-desc %}
            <span class="img-desc" style="display: inline;">
                <a href="{{ page.img-credit-url}}" target="blank">{{ page.img-credit-desc}}</a>
              </span>
              {% endif %}
            </div>
        </div>
        
      <div class="post-content col-md-8 offset-md-2">
        {{ content }}
      </div>
        {% if page.canonical %}
         <div class="container">
           <div class="row">
              <div class="col-md-8 offset-md-2">
                <div class="float-right">
                  <a href="{{ page.canonical }}" target="blank">Read full story...</a>
                </div>
              </div>
          </div>
        </div>
        {% endif %}
      <div class="post-content col-md-8 offset-md-2">
      {% if page.tags.size > 0 %}
        <div class="blog-tags">
          <i class="fa fa-tags"></i>
          {% if site.link-tags %}
          {% for tag in page.tags %}
            <a href="/tag/{{ tag }}">{{ tag }}</a>
          {% endfor %}
          {% else %}
            {{ page.tags | join: ", " }}
          {% endif %}
        </div>
      {% endif %}

     

      

      {% if page.comments %}
        <div class="disqus-comments">
          {% include disqus.html %}
        </div>
      {% endif %}
      </div>
    </div>
  </div>
</div>
</section>